@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;700;900&display=swap');

$font1: 'Open Sans', sans-serif;
$font2: 'Raleway', sans-serif;

html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #ffffff;
    font-family: $font1;
}

h1{
    font-family: $font2;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 12px;
    margin-bottom: 20px;
    
    @include respond-to(lg){
        font-size: 40px;
        letter-spacing: 6px;
        margin-bottom: 10px;
    }
    @include respond-to(md){
        font-size: 35px;
        letter-spacing: 6px;
        margin-bottom: 8px;
    }
    @include respond-to(sm){
        font-size: 30px;
        letter-spacing: 4px;
    }
    /* @media screen and (orientation:landscape){
        font-size: 35px;
    } */
}

h2{
    font-family: $font1;
    font-size: 38px;
    letter-spacing: 2px;
}
h2.sub-heading{
    font-weight: 600;
    margin-bottom: 20px;
    @include respond-to(lg){
        font-size: 28px;
    }
    @include respond-to(md){
        font-size: 28px;
    }
    @include respond-to(sm){
        font-size: 24px;
    }
}

.home-heading{
    text-shadow: 0px 0px 1px #222;
}

.btn-cosm{
    border-radius: 4px;
    background-color: #d32a3c;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    font-family: $font2;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 65px;
    @include respond-to(lg){
        font-size: 19px;
    }
    @include respond-to(md){
        font-size: 17px;
    }
    @include respond-to(sm){
        font-size: 16px;
    }
    &:hover{
        background-color: #4D017B;
        color: #fff;
    }
}