.page-content{
    height: 100vh;
}
.home-container{
    height: 10vh;
    position: relative;
    #logo{
        width: 150px;
        height: 85px;
        margin: 20px auto 25px;
        @include respond-to(md){
            width: 130px;
            height: 70px;
            margin: 10px auto 15px;
        }
        /* @media screen and (orientation:landscape){
            position: absolute;
            left: 0;
            top: -15px;
        } */
    }
    .home-content{
        margin-top: 50px;
        /* @media screen and (orientation:landscape){
            text-align: right;
            width: 80%;
            margin: 30px 0 0 auto;
        } */
        @include respond-to(xxl){
            margin-top: 150px;
        }
    }
}