@mixin respond-to($breakpoint) {
    @if $breakpoint=="sm" {
        @media (max-width: 576px) {
            @content;
        }
    }
    @if $breakpoint=="md" {
        @media (max-width: 768px) {
            @content;
        }
    }
    @if $breakpoint=="lg" {
        @media (max-width: 992px) {
            @content;
        }
    }
    @if $breakpoint=="xl" {
        @media (max-width: 1200px){
            @content;
        }
    }
    
    @if $breakpoint=="xxl" {
        @media (min-width: 1600px) {
            @content;
        }
    }
}
